<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="{{ site.author}}" />
<meta name="copyright" content="{{ site.copyright }}" />
<meta name="robot" content="{{ site.robot }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{ site.description | strip_newlines}}" />

<link rel="canonical" href="{{ page.url | absolute_url }}" />
<link rel="icon" href="{{ site.favicon | absolute_url }}" />
<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
<link rel="stylesheet" href="{{ 'assets/fonts/fontawesomev5.0.2.css' | relative_url }}" />
