<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ site.author}}" />
    <meta name="copyright" content="{{ site.copyright }}" />
    <meta name="robot" content="{{ site.robot }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title}} {% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ site.baseurl | urljoin: 'assets/css/main.css' }}">
    <link rel="canonical" href="{{ site.url | urljoin: site.baseurl, page.url }}">
    <link rel="icon" href="{{ site.baseurl | urljoin: site.favicon}}">

    {% if page.style%}
     <style type="text/css">
         {{ page.style }}
     </style>
    {% endif %}
    {% if page.url == "/404.html" %}

    {% if post.style%}
     <style type="text/css">
         {{ post.style }}
     </style>
    {% endif %}
    <meta http-equiv="refresh" content="5; url='{{ site.baseurl }}/'">
    {% endif %} 
</head>
