.site-footer {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    border-top: none;
    color: white;

    a {
        color: white;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 0;
    padding-top: .75em;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list .icon {
    width: 1em;
}

#mail-icon {
    filter: invert(100);
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    display: inline-flex;
    margin-top: 1em;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
        padding-left: unset;
    }

    #footer_description, #gravatar_container, #footer_build_status,
    .footer-heading, #license_link {
        display: none;
    }

    #license {
        font-size: 9px;
    }

    .site-footer {
        text-align: center;
    }

    .social-media-list {
        display: flex;
        margin-top: 1em;
        padding-right: unset;
    }

    #motto {
        display: none;
    }

    .social-media-list li {
        margin-right: 4px;
    }

    ul, ol {
        margin-right: auto;
    }
}

.footer-col {
    float: right;
}

.circle {
    clip-path: circle();
    width: 100px;
}

#gravatar {
    margin-top: 1em;
}

#license {
    font-style: small;
}
