footer {
    @extend header;
    color: $grey-color;
    display: inline-flex;
    flex-direction: column;
    a {
        color: white;
    }
}

footer > .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 50% 2fr;
    font-size: 15px;
}

img#footer-gravatar {
    margin-top: 1em;
    clip-path: circle();
    width: 100px;
}

.social-media-list {
    list-style: none;
    color: white;
    img {
        width: 4em;
    }
}

#license {
    font-style: small;
    text-align: center;
}

#build-time {
    font-family: monospace;
    font-size:x-small;
    text-align: center;
}

@include media-query($on-palm) {
    #footer-description,
    #footer-gravatar,
    #license-link,
    #atom {
        display: none;
    }

    #license {
        font-size: 9px;
    }

    .social-media-list {
        display: flex;
        justify-content: space-evenly;

        li {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
    
    footer > .wrapper {
        display: unset;
        grid-template-columns: unset;
        font-size: 15px;
    }
}