.wrapper {
    margin: 0 auto;
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));

    @include media-query($on-laptop) {
        width: 89vw;
    }
}

header {
    position: relative;

    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: white;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: white;

    &:visited {
        color: white;
    }
}

#motto {
    vertical-align: calc(40%);
}

.page-heading {
    font-size: 20px;
}

.image-caption {
    text-align: center;
    color: $grey-color;
    margin-top: $spacing-unit / 3;
}

.footnotes {
    font-size: small;
    font-family: $alt-font-family;
}

.center {
    text-align: center;
}

.border {
    border-style: dotted;
    border-radius: 10px;
    border-color: $brand-color;
}

.meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.list-meta-col {
    @extend .meta;
    display: inline-block;
    width: 160px;
    text-align: right;


    @include media-query(400px) {
        display: none;
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
