<!DOCTYPE html>
<html dir="rtl" lang="fa">
{% include head.html %}

<body>
  <div class="container">
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ '' | absolute_url}}">{{ site.title }}</a>
        <small id="motto"> {{ site.motto }} </small>
      </div>
    </header>
    <section class="content">
      <div class="page-content">
        <div class="wrapper">
          {{- content -}}
        </div>
      </div>
    </section>
    {%- include footer.html -%}
  </div>
  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
</body>

</html>