<!DOCTYPE html>
<html dir="rtl" lang="fa">
  
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      <div class="wrapper">
        {{- content -}}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
    {% if site.google_analytics_id %} {% include analyticstracking.html %} {% endif %}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>
</html>